#hbs-cler-header {
	position:fixed;
	top:0;
	width:100%;
	padding:0em 2em;
	background-color:#edb;
	color:#a12;
	z-index:1000;
}

#hbs-cler-header h4 {
	float:left;
}

#hbs-cler-header p {
	float:right;
	font-size:16px;
	color:#a12;
}

#hbs-cler-header p span {
	position:relative;
	top:50%;
	transform:translateY(+50%);
}

#dev-flair {
	position:absolute;
	bottom:0;
	right:0;
	padding:10px 20px;
	background-color:black;
	color:yellow;
	font:30px monospace;
}

#sidebar {
	position:relative;
	float:left;
	padding:3em 1em 17em 1em;
	width:150px;
	height:100%;
	background-color:#edb;
	font-size:16px;
	text-align:center;
	z-index:100;
}

#sidebar ul {
	list-style-type:none;
	padding:0;
}

#sidebar ul li {
	padding:0.5em;
}

#page-header {

}

#messages {

}

#main-content {
	position:relative;
	top:0px;
	left:0px;
	font:20px/25px Arial, sans-serif;
	margin:2em;
	padding:1em;
	width:100%;
}

#main-content p {
	margin:1em 3em;
	padding:0 2em;
}

#page-footer {
	position:absolute;
	width:100%;
	bottom:10px;
	float:left;
	font:bold 20px/25px Arial, sans-serif;
	color:#a12;
}